qemu-etrace
.gdb_history
.gdbinit
*.a
*.aux
*.cp
*.dvi
*.exe
*.fn
*.ky
*.log
*.pdf
*.cps
*.fns
*.kys
*.pg
*.pyc
*.toc
*.tp
*.vr
*.d
*.o
*.lo
*.la
*.pc
.libs
*.swp
*.orig
*.gcda
*.gcno
.stgit-*
cscope.*
gmon.out
tags
TAGS
*~
